.button {
  background-color: #4CAF50; /* Зелений колір */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.button.delete-all-button {
  background-color: #f44336;
}

.button:hover {
  background-color: #45a049;
}

.button.delete-all-button:hover {
  background-color: #d32f2f;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}
